.list-view .list-cell {
    -fx-background-insets: 0.0;
    /*-fx-text-fill: -text-fill;*/
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-color: -background-color;
}

.list-view {
    -fx-background-color: -background-color;
}

.list-view .list-cell:filled:hover {
    /*-fx-text-fill: -text-fill;*/
    -fx-background-color: #f2f2f2;
}


/*.combo-box .button {*/
/*    -fx-text-fill: green;*/
/*}*/




