.jfx-combo-box {
    /*-fx-border-color: #9e9e9e;*/
    /*-fx-border-width: 0.8;*/
    /*-fx-border-style: solid;*/
    /*-fx-border-radius: 5;*/
    -jfx-focus-color: -primary-color;
    -jfx-unfocus-color: transparent;

    -fx-background-color: #f5f5f5;
}

.jfx-combo-box .list-cell {
    -fx-min-height: 35;
    -fx-pref-height: 35;

    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

/*.jfx-combo-box .list-cell {*/
/*    */
/*}*/

.jfx-combo-box .list-view {
    -fx-padding: 0 0 5 0;
    -fx-background-color: -background-color;
    -fx-border-radius: 0 0 5 5;
    -fx-background-radius: 0 0 5 5;
}

.jfx-combo-box:focused {
    /*-fx-border-style: hidden hidden solid hidden;*/
    /*-fx-border-width: 2;*/
    /*-fx-border-color: -primary-color;*/
    /*-fx-border-color: */
}
