.list-cell:selected {
    -fx-background-color: -primary-color !important;
    -fx-text-fill: -text-fill;
}

.list-cell:filled:hover {
    -fx-background-color: -light-primary-color;
    -fx-text-fill: -text-fill;
}

.list-cell .label {
    -fx-text-fill: -text-fill;
}