
.jfx-list-cell {
    -fx-background-instets: 0;
}

.list-cell .jfx-rippler {
    -fx-rippler-fill: blue;
}

.jfx-list-view {
    -fx-vertical-gap: 10px;
    -fx-cell-vertical-margin: 10px;
    -fx-background-insets: 0;
    -fx-pref-width: 150;
}

.list-cell:odd {
    -fx-background-color: white;
}

.list-view .list-cell {
    -fx-background-color: -background-color;
}

.list-view {
    -fx-background-color: -background-color;
}

