
.hbox {
    -fx-background-color: -background-color;
    -fx-border-color: #9e9e9e;
    -fx-border-width: 0.95;
    -fx-border-style: solid;
    -fx-border-radius: 5;
    -fx-padding: 3 3 3 3;
}


.focusedbox {
    -fx-border-color: -primary-color;
}

.jfx-text-field, .jfx-password-field {
    -fx-text-fill: -text-fill;
    -fx-prompt-text-fill: #9e9e9e;
    -jfx-focus-color: transparent;
    -jfx-unfocus-color: transparent;
}



