.jfx-text-field {
    /*-fx-border-color: #9e9e9e;*/
    /*-fx-border-width: 0.8;*/
    /*-fx-border-style: solid;*/
    -fx-border-radius: 5;
    -jfx-focus-color: -primary-color;
    /*-fx-padding: 5px;*/
    /*-fx-border-insets: 5px;*/
    /*-fx-background-insets: 5px;*/
    /*-jfx-unfocus-color: transparent;*/
    /*-fx-padding: 0 3 0 3 ;*/
    -fx-background-color: #f5f5f5;
    /*-fx-padding: 0.333333em 2 0.333333em 0;*/

}

.jfx-text-field Text {
    /*-fx-fill: blue;*/
    /*-fx-translate-x   : 10;*/
}

 .jfx-text-field:focused {
     /*-fx-border-color: -primary-color;*/
 }
