.jfx-button {
    -fx-border-color: #9e9e9e;
    -fx-border-width: 0.8;
    -fx-border-style: solid;
    -fx-border-radius: 5;
}

.jfx-button .jfx-rippler {
    -jfx-rippler-fill: -light-primary-color;
}