
.hbox {
    -fx-background-color: -light-primary-color;
    -fx-background-radius: 4;
    -fx-padding: 0 3 0 3;
}


.jfx-text-field, .jfx-password-field {
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -jfx-focus-color: transparent;
    -jfx-unfocus-color: transparent;
}



