.jfx-slider > .thumb {
    -fx-background-color: -primary-color;
}

/* Styling the filled track */
.jfx-slider > .colored-track {
    -fx-background-color: -primary-color;
}

.jfx-slider > .animated-thumb {
    -fx-background-color: -primary-color;
}