.jfx-tab-pane .tab-selected-line {
    -fx-background-color: white;
}

.jfx-tab-pane .tab-header-background{
    -fx-background-color: -primary-color;
}

.jfx-tab-pane:top *.tab-header-area {
    -fx-font-weight: normal;
}
