.jfx-tab-pane .tab-selected-line {
    -fx-background-color: -primary-color;
}

.jfx-tab-pane .tab .tab-label {
    -fx-text-fill: -text-fill;
}

.jfx-tab-pane .depth-container {
    -fx-effect: none;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: -background-color;
}

.jfx-tab-pane .tab-header-area .jfx-rippler {
    -jfx-rippler-fill: -light-primary-color;
}

.jfx-tab-pane:top *.tab-header-area {
    -fx-font-weight: normal;
}

