.jfx-text-field, .jfx-password-field {
    -fx-prompt-text-fill: -secondary-text-fill;
    -jfx-focus-color: -text-fill;
    -jfx-unfocus-color: -text-fill;
    -fx-text-inner-color: -secondary-text-fill;
}